.checkbox-card {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.checkbox-card.disabled {
  cursor: unset;
}

.sprite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(222, 222, 222, 1);
  color: rgba(66, 66, 66, 1);
}

.checked .sprite-container {
  background-color: rgba(39, 174, 96, 1);
  color: var(--bs-white);
}
