:root {
  --jam-balance-color: #212529;
  --jam-balance-deemphasize-color: #9eacba;
}

:root[data-theme='dark'] {
  --jam-balance-color: #ffffff;
  --jam-balance-deemphasize-color: #555c62;
}

.hideSymbol {
  margin-left: 0.1em;
  color: var(--jam-balance-deemphasize-color);
}

.frozenSymbol {
  margin-left: 0.1em;
}

.bitcoinSymbol {
  order: -1;
  margin-right: 0.1em;
}

.satsSymbol {
  order: 5;
}

.satsSymbol + .frozenSymbol {
  order: -2;
  margin-left: 0;
  margin-right: 0.1em;
}

.bitcoinAmountSpacing .fractionalPart :nth-child(3)::before,
.bitcoinAmountSpacing .fractionalPart :nth-child(6)::before {
  content: '\202F';
}

/** Integer Part **/
.bitcoinAmountColor[data-integer-part-is-zero="true"] .integerPart,
/** Decimal Point **/
.bitcoinAmountColor[data-integer-part-is-zero="true"] .decimalPoint,
.bitcoinAmountColor[data-fractional-part-starts-with-zero="true"] .decimalPoint,
/** Fractional Part **/
.bitcoinAmountColor[data-integer-part-is-zero="false"] .fractionalPart,
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]),
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]) + span[data-digit="0"],
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]) + span[data-digit="0"] + span[data-digit="0"],
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]) + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"],
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]) + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"],
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]) + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"],
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]) + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"],
.bitcoinAmountColor[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-digit="0"]) + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"] + span[data-digit="0"],
/** Symbol */
.bitcoinAmountColor[data-raw-value="0"] + .bitcoinSymbol {
  color: var(--jam-balance-deemphasize-color);
}

.satsAmountColor[data-raw-value='0'],
.satsAmountColor[data-raw-value='0'] + .satsSymbol {
  color: var(--jam-balance-deemphasize-color);
}
