.confirmations {
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.75rem;
}
