.utxoTagList {
  display: flex;
  gap: 0.5rem;
  color: var(--bs-body-color);
}

.utxoTagList > .utxoTag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.7rem;
  border: 1px solid var(--bs-body-color);
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
}

.utxoTagList > .utxoTag.utxoTag-success {
  color: var(--bs-success);
  background-color: rgba(var(--bs-success-rgb), 0.1);
  border-color: var(--bs-success);
}
.utxoTagList > .utxoTag.utxoTag-warning {
  color: var(--bs-warning);
  background-color: rgba(var(--bs-warning-rgb), 0.1);
  border-color: var(--bs-warning);
}
.utxoTagList > .utxoTag.utxoTag-danger {
  color: var(--bs-danger);
  background-color: rgba(var(--bs-danger-rgb), 0.1);
  border-color: var(--bs-danger);
}
.utxoTagList > .utxoTag.utxoTag-dark {
  color: var(--bs-white);
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}
