.jarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jarSprite {
  margin: 0 0 0.25rem 0;
}

.apricotJam {
  --jamColor: #ffb765;
}

.blueberryJam {
  --jamColor: #6a9bff;
}

.cherryJam {
  --jamColor: #ff636b;
}

.dateJam {
  --jamColor: #964b00;
}

.elderberryJam {
  --jamColor: #7b3183;
}

.jarIndex {
  font-size: 0.8rem;
  color: var(--bs-gray-600);
}

.jarIndex::first-letter {
  font-weight: bold;
}

.jarBalance {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* min width should approximately match width of value "(symbol) 0.00 000 000":
    - 1ch for the symbol
    - 9ch chars for all zeros
    - 1.5ch for the dot and spaces
  */
  min-width: 11.5ch;

  font-size: 0.8rem;
  padding-bottom: 0.8rem;
}

.selectableJarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selectableJarContainer:not(.selectable) {
  color: var(--bs-gray-600);
  cursor: unset;
}

.selectableJarContainer:not(.selectable) > .selectionCircle {
  height: 1.25rem;
  width: 1.25rem;
}

.selectableJarContainer.selectable > .selectionCircle {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--bs-body-color);
}

.selectableJarContainer.selectable.selected > .selectionCircle {
  background-color: var(--bs-body-color);
}

.tooltipJarContainer {
  cursor: pointer;
}
