.container {
  border: 1px solid var(--bs-gray-200);
  border-radius: 0.3rem;
  padding: 1.25rem;
}

:root[data-theme='dark'] .container {
  border-color: var(--bs-gray-700);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.header .subtitleJar {
  flex-shrink: 0;
}

.header .subtitle {
  flex-shrink: 1;
  font-size: 0.9rem;
  color: var(--bs-gray-600);
}

.header .subtitle a {
  color: inherit;
}

.header .title {
  width: 100%;
  font-size: 1.2rem;
  color: var(--bs-body-color);
}

.header svg {
  color: var(--bs-body-color);
}

.header :global .accordion-button:after {
  display: none;
}

.successCheckmark {
  width: '2rem';
  height: '2rem';
  background-color: 'rgba(39, 174, 96, 1)';
  color: 'white';
  border-radius: '50%';
}

.form {
  padding: 0.5rem;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
}

.formHeader .title {
  width: 100%;
  font-size: 1.2rem;
  color: var(--bs-body-color);
}

.formHeader .svg {
  color: var(--bs-body-color);
}
