.stepDescription {
  font-size: 0.8rem;
  color: var(--bs-gray-600);
}

.utxoCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--bs-gray-100);
  border-radius: 0.5rem;
}

:root[data-theme='dark'] .utxoCard {
  border-color: var(--bs-gray-700);
}

.utxoCard.selectable {
  cursor: pointer;
}

.utxoCard:not(.selected):not(.selectable) {
  color: var(--bs-gray-600);
}

.utxoCard.selected {
  background-color: rgb(45, 156, 219, 0.03);
  border: 2px solid rgb(45, 156, 219, 1);
}

:root[data-theme='dark'] .utxoCard.selected {
  background-color: var(--bs-gray-800);
  border-color: var(--bs-gray-500);
}

.utxoCard.selected:not(.selectable) {
  background-color: var(--bs-gray-100);
  border: 2px solid var(--bs-gray-200);
}

.utxoCard > .utxoSelectionMarker {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.3rem;
  border: 2px solid var(--bs-gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

:root[data-theme='dark'] .utxoCard > .utxoSelectionMarker {
  border-color: var(--bs-gray-500);
}

.utxoCard:not(.selected):not(.selectable) > .utxoSelectionMarker {
  visibility: hidden;
}

.utxoCard.selected > .utxoSelectionMarker {
  border: 2px solid #2d9cdb;
  background-color: white;
}

.utxoCard.selected > .utxoSelectionMarker > svg {
  color: #2d9cdb;
}

.utxoCard.selected:not(.selectable) > .utxoSelectionMarker {
  border: 2px solid var(--bs-gray-200);
  background-color: white;
}

.utxoCard.selected:not(.selectable) > .utxoSelectionMarker > svg {
  color: var(--bs-gray-200);
}

:root[data-theme='dark'] .utxoCard.selected:not(.selectable) > .utxoSelectionMarker {
  border-color: var(--bs-gray-500);
}

.utxoCard > .utxoBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.utxoCard > .utxoBody > .utxoAddress {
  font-size: 0.8rem;
  color: var(--bs-gray-600);
  word-break: break-all;
  margin-bottom: 0.1rem;
}

.utxoCard > .utxoBody > .utxoDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.6rem;
  color: var(--bs-gray-600);
}

.utxoCard > .utxoLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--bs-gray-100);
  border-radius: 0.3rem;
  color: var(--bs-gray-600);
  min-width: 5.5rem;
  font-size: 0.9rem;
}

:root[data-theme='dark'] .utxoCard > .utxoLabel {
  background-color: var(--bs-gray-700);
  color: var(--bs-gray-400);
}

.utxoCard.selected:not(.selectable) > .utxoLabel {
  background-color: var(--bs-gray-200);
}

.utxoCard > .utxoLabel.utxoFrozen > svg {
  color: #2d9cdb;
  margin-bottom: 0.1rem;
}

.utxoCard > .utxoLabel.utxoFidelityBond > svg {
  color: #f7cf09;
}

.utxoCard > .utxoLabel.utxoCjOut > svg {
  color: #27ae60;
}

.utxoCard > .utxoLoadingSpinner {
  color: var(--bs-gray-600);
  margin-right: 1rem;
}

.fbIcon {
  margin-top: -0.8rem;
  flex-shrink: 0;
}

.confirmationStepIcon {
  flex-shrink: 0;
  padding: 0 !important;
  width: 18px;
  height: 18px;
}

.confirmationStepLabel {
  color: var(--bs-gray-600);
  font-size: 0.8rem;
}

.confirmationStepContent {
  font-size: 0.8rem;
  word-break: break-all;
}

.timelockedAddress {
  text-align: left;
  padding: 0;
  font-size: 0.8rem;
}

.utxoSummaryIcon {
  margin-bottom: 3px;
}

.utxoSummaryTitle {
  font-size: 0.8rem;
  color: var(--bs-gray-800);
}

:root[data-theme='dark'] .utxoSummaryTitle {
  color: var(--bs-gray-600);
}

.utxoSummaryCard {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--bs-gray-200);
  background-color: var(--bs-gray-100);
  border-radius: 0.3rem;
}

:root[data-theme='dark'] .utxoSummaryCard {
  border-color: var(--bs-gray-600);
  background-color: var(--bs-gray-800);
}

.utxoSummaryCardTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.utxoSummaryCard > .utxoSummaryCardTitleContainer > .utxoSummaryCardTitle {
  font-size: 0.8rem;
}

.utxoSummaryCard > .utxoSummaryCardTitleContainer > .utxoSummaryCardTitleLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
  border-radius: 0.1rem;
  color: var(--bs-gray-600);
  font-size: 0.55rem;
}

.utxoSummaryCard > .utxoSummaryCardTitleContainer > .utxoSummaryCardTitleLabel.utxoFrozen > svg {
  color: #2d9cdb;
  margin-bottom: 0.1rem;
}

.utxoSummaryCard > .utxoSummaryCardTitleContainer > .utxoSummaryCardTitleLabel.utxoCjOut > svg {
  color: #27ae60;
}

.utxoSummaryCard > .utxoSummaryCardSubtitle {
  font-size: 0.55rem;
  color: var(--bs-gray-600);
  word-break: break-all;
}
