.head {
  font-size: small;
}

.address_label {
  text-align: right;
  padding-right: 7%;
  color: rgb(10, 192, 10);
}

.xpub {
  text-align: left;
  padding-left: 20px;
}

.branch_body{
  text-align: left;
}
