.balance-wrapper {
  display: inline-flex;
  align-items: center;

  min-height: 23px;
}

.balance {
  display: flex;
  align-items: center;

  font-family: Inter;
  font-weight: 400;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'case' on;
  -moz-font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'case' on;
  -ms-font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'case' on;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'case' on;
  -o-font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'case' on;
}

.bitcoin-symbol {
  padding-right: 0.1em;
}
