:root {
  --jam-balance-color: #212529;
  --jam-balance-deemphasize-color: #9eacba;
}

:root[data-theme='dark'] {
  --jam-balance-color: #ffffff;
  --jam-balance-deemphasize-color: #555c62;
}

.frozen {
  --jam-balance-color: #0d6efd;
  --jam-balance-deemphasize-color: #7eb2ff;
}

:root[data-theme='dark'] .frozen {
  --jam-balance-color: #1372ff;
  --jam-balance-deemphasize-color: #1153b5;
}

.balance {
  color: var(--jam-balance-color);
}

.bitcoinSymbol {
  padding-right: 0.1em;
}

.hideSymbol {
  padding-left: 0.1em;
  color: var(--jam-balance-deemphasize-color);
}

/** Integer Part **/
.bitcoinAmount[data-integer-part-is-zero="true"] .integerPart,
/** Decimal Point **/
.bitcoinAmount[data-integer-part-is-zero="true"] .decimalPoint,
.bitcoinAmount[data-fractional-part-starts-with-zero="true"] .decimalPoint,
/** Fractional Part **/
.bitcoinAmount[data-integer-part-is-zero="false"] .fractionalPart,
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]),
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]) + span[data-value="0"],
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]) + span[data-value="0"] + span[data-value="0"],
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]) + span[data-value="0"] + span[data-value="0"] + span[data-value="0"],
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]) + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"],
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]) + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"],
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]) + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"],
.bitcoinAmount[data-integer-part-is-zero="true"] .fractionalPart :nth-child(1):is(span[data-value="0"]) + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] + span[data-value="0"] {
  color: var(--jam-balance-deemphasize-color);
}

.satAmount[data-value='0'] {
  color: var(--jam-balance-deemphasize-color);
}

/* deemphasize symbol on zero balance
 * @implNote: `:has(+ ...) is currently not supported by firefox
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/:has#browser_compatibility
 */
.satAmount[data-value='0'] + .satsSymbol,
.bitcoinSymbol:has(
    + .bitcoinAmount[data-integer-part-is-zero='true']
      .fractionalPart
      :nth-child(1):is(span[data-value='0'])
      + span[data-value='0']
      + span[data-value='0']
      + span[data-value='0']
      + span[data-value='0']
      + span[data-value='0']
      + span[data-value='0']
      + span[data-value='0']
  ) {
  color: var(--jam-balance-deemphasize-color);
}

.bitcoinAmount .fractionalPart :nth-child(3)::before,
.bitcoinAmount .fractionalPart :nth-child(6)::before {
  content: '\202F';
}
