.wallet-header-title-placeholder {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.wallet-header-subtitle-placeholder {
  width: 12rem;
  height: 1.8rem;
  margin-bottom: 0.45rem;
}

.jars-placeholder {
  width: 100%;
  height: 3.5rem;
}
