.accounts-overlay {
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1100 !important;
}

.accounts-overlay-header {
  background-color: var(--bs-gray-200);
}

.accounts-overlay-header-title {
  display: inline-flex;
  justify-content: space-between;
  width: 8ch;
  margin: 0 0.5rem;
}

:root[data-theme='dark'] .accounts-overlay-header {
  background-color: var(--bs-gray-800);
  color: var(--bs-white);
}

.accounts-overlay .offcanvas-body {
  padding: 0;
}

.offcanvas-body .accordion-item {
  border: none;
}

.accordion-item .accordion-body {
  padding: 0 !important;
}

.accordion-item button {
  box-shadow: none !important;
}
