.dividerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dividerContainer .dividerLine {
  margin: 0;
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
}

.dividerContainer .dividerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  flex-shrink: 0;
  flex-grow: 1;
  color: var(--bs-body-color);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--bs-body-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.dividerContainer .dividerButton:disabled {
  cursor: not-allowed;
}
