.earn .input-loader {
  height: 3.5rem;
  border-radius: 0.25rem;
}

.earn .fb-loader {
  height: 11rem;
  border-radius: 0.25rem;
}

.earn form input:not([type='checkbox']) {
  height: 3.5rem;
}

.earn .earn-btn {
  height: 3rem;
  width: 100%;
}

.settings-container {
  margin-top: 1.5rem;
}

.settings-container button.settings-btn {
  background-color: transparent !important;
  border: none;
  padding-left: 0;
  height: 3rem;
  width: 100%;
}

.settings-container .input-group-text {
  width: 5ch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.earn hr {
  border-color: rgba(222, 222, 222, 1);
  opacity: 100%;
}

:root[data-theme='dark'] .earn hr {
  border-color: var(--bs-gray-800);
  opacity: 100%;
}

.offerContainer {
  border: 1px solid var(--bs-gray-200);
  border-radius: 0.3rem;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
}

:root[data-theme='dark'] .offerContainer {
  border-color: var(--bs-gray-700);
}

.offerContainer .offerTitle {
  width: 100%;
  font-size: 1.2rem;
  color: var(--bs-body-color);
}

.offerContainer .offerLabel {
  color: var(--bs-gray-600);
  font-size: 0.8rem;
}

.offerContainer .offerContent {
  font-size: 0.8rem;
  word-break: break-all;
}
