.submit {
  height: 3rem;
  width: 100%;
}

.input {
  height: 3.5rem;
  width: 100%;
}

.input-loader {
  height: 3.5rem;
  border-radius: 0.25rem;
}

.walletLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--bs-body-color);
}
