.jarsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  cursor: pointer;
  padding: 0 0.5rem 0 0;
}

.jarsTitle .infoIcon {
  color: var(--bs-gray-500);
  border: 1px solid var(--bs-gray-500);
  border-radius: 50%;
  cursor: help;
}

.jarsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2rem;
  color: var(--bs-body-color);
}

.jarsContainer :global .jar-container-hook {
  flex-direction: row;
  gap: 1rem;
}

.jarsContainer :global .jar-info-container-hook {
  align-items: flex-start;
}
.jarsContainer :global .jar-balance-container-hook {
  justify-content: start !important;
}

@media only screen and (min-width: 768px) {
  .jarsContainer {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .jarsContainer :global .jar-container-hook {
    flex-direction: column;
    gap: 0;
    min-width: inherit;
  }
  .jarsContainer :global .jar-info-container-hook {
    align-items: center !important;
  }
  .jarsContainer :global .jar-balance-container-hook {
    justify-content: center !important;
  }
}
