.walletHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walletHeader .titlePlaceholder {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.walletHeader .subtitlePlaceholder {
  width: 12rem;
  height: 1.8rem;
  margin-bottom: 0.45rem;
}

:global(.jm-rescan-in-progress) .walletHeader {
  cursor: wait;
}

:global(.jm-rescan-in-progress) .walletBody {
  filter: blur(2px);
}

.jarsPlaceholder {
  width: 100%;
  height: 3.5rem;
}
