.walletHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walletHeader .titlePlaceholder {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.walletHeader .subtitlePlaceholder {
  width: 12rem;
  height: 1.8rem;
  margin-bottom: 0.45rem;
}

:global(.jm-rescan-in-progress) .walletBody {
  filter: blur(2px);
}

.jarsPlaceholder {
  width: 100%;
  height: 3.5rem;
}

.jarsDividerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jarsDividerContainer .dividerLine {
  margin: 0;
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
}

.jarsDividerContainer .dividerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  flex-shrink: 0;
  flex-grow: 1;
  color: var(--bs-body-color);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--bs-body-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

:global(.jm-rescan-in-progress) .dividerButton {
  cursor: default;
}

.sendReceiveButton {
  padding: 0.25rem;
  font-weight: 500;
  border-color: rgba(222, 222, 222, 1) !important;
}
