.receive button {
  font-weight: 500;
}

.receive form input {
  height: 3.5rem;
  width: 100%;
}

.receive select {
  height: 3.5rem;
  width: 100%;
}

.receive-placeholder-container {
  height: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.receive-placeholder {
  height: 1.5rem;
}

.inputGroupText {
  width: 5ch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.qr-container {
  display: flex;
  justify-content: center;
  min-height: 16.25rem;
}

:global(.jm-rescan-in-progress) .cardContainer {
  display: none;
}

:global(.jm-rescan-in-progress) .receiveForm {
  filter: blur(2px);
}

.receive-placeholder-qr-container {
  width: 16.25rem;
}

.receive-placeholder-qr {
  width: 13.75rem;
  height: 13.75rem;
  margin: 1.25rem;
}

:root[data-theme='dark'] .receive-placeholder-qr {
  width: 16.25rem;
  height: 16.25rem;
  margin: 0;
}

.address {
  font-size: 0.8rem;
  padding: 1rem 0 1rem;
}

.jarsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  color: var(--bs-body-color);
  margin-bottom: 2rem;
}

.jarsPlaceholder {
  width: 100%;
  height: 8.5rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .address {
    font-size: var(--bs-body-font-size);
    padding: 0;
  }
  .jarsContainer {
    gap: 1.5rem;
    flex-wrap: nowrap;
  }
}
