.text {
  font-size: 0.8rem;
}

.progress {
  position: relative;
  display: flex;
}

.progress-track {
  position: absolute;
  width: 100%;
  height: 1.4rem;
  background-color: var(--bs-gray-300);
  border-radius: 0.8rem;
  z-index: -1;
}

.progress-step {
  top: 0.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.progress-step:before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background: white;
  border-radius: 100%;
  color: transparent;
  margin: 0 0 0 auto;
  transform: translateX(-0.3rem);
}

.progress-step.is-active:before {
  background: rgba(39, 174, 96, 1);
  animation: pulse 2s infinite;
}

.progress-step.is-complete:before {
  content: '\2713';
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  transform: translate(0.2rem, -0.5rem);
  background: rgba(39, 174, 96, 1);
}

.progress-step.is-active:after {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 0 0.8rem 0.8rem 0;
  height: 1.4rem;
  top: -0.3rem;
  background: rgba(39, 174, 96, 0.4);
  z-index: -1;
  animation: nextStep 1s;
  display: flex;
  justify-content: start;
}

.progress-step.is-first.is-active:after {
  border-radius: 0.8rem;
}

.progress-step.is-complete:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.4rem;
  background: rgba(39, 174, 96, 0.4);
  z-index: -1;
  top: -0.3rem;
}

.progress-step.is-first.is-complete:after {
  border-radius: 0.8rem 0 0 0.8rem;
}

.progress-step.is-last.is-complete:after {
  border-radius: 0 0.8rem 0.8rem 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(39, 174, 96, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(39, 174, 96, 0);
  }
}

@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
