.seedphrase {
  gap: 0.3rem;
}

.seedword-index {
  width: 2ch;
}

.seedphrase > div {
  background-color: rgba(244, 244, 244, 1);
  width: 9rem;
}

:root[data-theme='dark'] .seedphrase > div {
  background-color: var(--bs-gray-800);
}
