.container {
  gap: 0.3rem;
}

.item {
  background-color: rgba(244, 244, 244, 1);
  width: 9rem;
}

.item-index {
  width: 2ch;
}

:root[data-theme='dark'] .item {
  background-color: var(--bs-gray-800);
}
