.segmentedTabs {
  background-color: var(--bs-gray-300);
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 100%;
}

.segmentedTab > label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root[data-theme='dark'] .segmentedTabs {
  color: var(--bs-gray-100);
  background-color: var(--bs-gray-800);
}

.segmentedTab {
  flex: 1 1 0;
}

.segmentedTab input[type='radio'] {
  appearance: none;
  margin: 0;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.segmentedTab label {
  background-color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.1rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.segmentedTab input[type='radio']:disabled ~ label {
  background-color: transparent;
  color: var(--bs-gray-600);
  opacity: 0.5;
}

:root[data-theme='dark'] .segmentedTab input[type='radio']:disabled ~ label {
  color: var(--bs-gray-600);
  opacity: 0.5;
}

.segmentedTab input[type='radio']:not(:checked):not(:disabled) ~ label {
  background-color: transparent;
}

.segmentedTab input[type='radio']:not(:disabled) ~ label {
  cursor: pointer;
}
.segmentedTab input[type='radio']:checked:not(:disabled) ~ label {
  background-color: var(--bs-gray-100);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

:root[data-theme='dark'] .segmentedTab input[type='radio']:checked:not(:disabled) ~ label {
  background-color: var(--bs-gray-600);
}

.segmentedTab input[type='radio']:focus ~ label {
  box-shadow: 0 0 0 0.25rem var(--bs-focus-ring-color) !important;
}
