.settings .settings-btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  border: none;
  text-align: var(--bs-body-text-align);
}

.settings .settings-btn > svg:first-child {
  min-width: 24px;
  min-height: 24px;
}

.settings-group-container {
  margin: -0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
