.inputLoader {
  height: 3.5rem;
  border-radius: 0.25rem;
}

.input {
  height: 3.5rem;
  width: 100%;
}

.button {
  font-size: 0.875rem !important;
}

.inputGroupText {
  width: 5ch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
