.collaboratorsSelectorElement {
  min-width: 6rem;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  border-radius: var(--bs-border-radius);
}

:root[data-theme='dark'] input.collaboratorsSelectorElement {
  background-color: var(--bs-gray-800);
  color: var(--bs-white);
}

.collaboratorsSelectorElement.selected {
  border-color: var(--bs-dark-rgb) !important;
}

:root[data-theme='dark'] .collaboratorsSelectorElement.selected {
  background-color: var(--bs-gray-dark);
  border-color: var(--bs-gray-dark) !important;
}
