.utxoRowUnfrozen {
  background-color: #27ae600d;
  padding: 8px 30px;
  height: 46px;
  color: #27ae60 !important;
  margin-bottom: 4px;
  cursor: pointer;
}

.utxoRowFrozen {
  background-color: #2d9cdb0d;
  padding: 8px 30px;
  height: 46px;
  color: #2d9cdb !important;
  margin-bottom: 4px;
  cursor: pointer;
}

.iconMixed {
  color: #27ae60;
}

.iconFrozen {
  color: #2d9cdb;
}

.iconConfirmations {
  color: #27ae60;
  margin-bottom: 4px;
}

.iconConfirmationsFreeze {
  color: #2d9cdb;
  margin-bottom: 4px;
}

.valueColumn {
  margin-right: 20px;
}

.subTitle {
  color: #777777;
  border: none;
  margin-bottom: 1.5rem;
}

.NextButton {
  width: 47% !important;
  height: 3.15rem;
  padding: 14px 20px 14px 20px !important;
  border-radius: 5px !important;
}

.BackButton {
  width: 47% !important;
  height: 3.15rem;
  padding: 14px 20px 14px 20px !important;
  margin-right: 33px !important;
  border-radius: 5px !important;
}

.utxoTagUnFreeze {
  white-space: nowrap;
  border: 1px solid #27ae60;
  background-color: #c6eed7;
  border-radius: 0.35rem;
  padding: 0rem 0.25rem;
  display: inline-block;
  margin-left: 4px;
}

.utxoTagFreeze {
  white-space: nowrap;
  border: 1px solid #2d9cdb;
  background-color: #bce7ff;
  border-radius: 0.35rem;
  padding: 0rem 0.25rem;
  display: inline-block;
  margin-left: 4px;
}

.parent-class .utxoTag {
  border: 1px solid #27ae60 !important;
  border-radius: 0.2rem !important;
}

.utxoListDisplay {
  margin-left: -27px !important;
}

.modalBody {
  padding: 40px !important;
}

.squareToggleButton {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid var(--bs-body-color);
  margin-top: 3.5px;
}

.selected {
  visibility: visible !important;
  background-color: var(--bs-body-color);
}

.squareFrozenToggleButton {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #2d9cdb;
  margin-top: 3.5px;
}
