.utxoListDisplayHeight {
  max-height: 15.7rem;
}

.row {
  --jam-utxo-bg-color: transparent;
  --jam-utxo-checkbox-accent-color: var(--jam-utxo-color);
  background-color: var(--jam-utxo-bg-color) !important;
  color: var(--jam-utxo-color) !important;
}

.row .checkbox {
  width: 24px;
  height: 24px;
  accent-color: var(--jam-utxo-checkbox-accent-color);
}

.row.row-normal {
  --jam-utxo-bg-color: transparent;
  --jam-utxo-checkbox-accent-color: var(--bs-black);
}
.row.row-success {
  --jam-utxo-bg-color: #27ae600d;
  --jam-utxo-color: #27ae60;
}
.row.row-warning {
  --jam-utxo-bg-color: #bb97200d;
  --jam-utxo-color: #ebc957;
}
.row.row-danger {
  --jam-utxo-bg-color: #eb57570d;
  --jam-utxo-color: #eb5757;
}
.row.row-frozen {
  --jam-utxo-bg-color: #2d9cdb0d;
  --jam-utxo-color: #2d9cdb;
  --jam-utxo-checkbox-accent-color: var(--jam-utxo-color);
}
