.overlayContainer .accountStepperTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  gap: 0.2rem;
  color: var(--bs-gray-800);
  min-width: 12ch;
}

:root[data-theme='dark'] .overlayContainer .accountStepperTitle {
  color: var(--bs-gray-400);
}

.overlayContainer .jarStepperButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--bs-gray-100);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1) !important;
  color: var(--bs-gray-600);
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.overlayContainer .jarStepperButton:focus {
  color: var(--bs-gray-600);
}

.overlayContainer .jarStepperButton:active {
  color: var(--bs-gray-600);
}

:root[data-theme='dark'] .jarStepperButton {
  background-color: var(--bs-gray-600);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5) !important;
  color: var(--bs-body-color);
}

:root[data-theme='dark'] .overlayContainer :global .segmented-tabs-hook {
  background-color: var(--bs-gray-900);
}

.overlayContainer .tabContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bs-body-bg);
}

@media only screen and (min-width: 992px) {
  .overlayContainer .tabContainer {
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
  }
}

.overlayContainer .tabContainer .utxoListTitleBar {
  min-height: 3.6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0 0.5rem 0.8rem 0.5rem;
  background-color: var(--bs-gray-100);
}

.overlayContainer .tabContainer .utxoListTitleBar :global .balance-value {
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .overlayContainer .tabContainer .utxoListTitleBar {
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
  }
}

:root[data-theme='dark'] .overlayContainer .tabContainer .utxoListTitleBar {
  background-color: var(--bs-gray-800);
}

.utxoListTitleBar .freezeUnfreezeButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.freezeUnfreezeButtonsContainer button {
  min-width: 6rem;
  font-size: 0.6rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--bs-white);
  border: 1px solid var(--bs-gray-200);
  color: var(--bs-body-color);
  border-radius: 0.35rem;
}

.freezeUnfreezeButtonsContainer button:disabled {
  color: var(--bs-gray-800) !important;
  border-color: var(--bs-gray-900) !important;
}

.freezeBtn {
  color: var(--bs-blue) !important;
  border-color: var(--bs-blue) !important;
}
.freezeBtn:hover {
  background-color: rgba(13, 110, 253, 0.07) !important;
}

.unfreezeBtn {
  color: var(--bs-red) !important;
  border-color: var(--bs-red) !important;
}
.unfreezeBtn:hover {
  background-color: rgba(220, 53, 69, 0.07) !important;
}

:root[data-theme='dark'] .freezeUnfreezeButtonsContainer button {
  background-color: var(--bs-gray-800) !important;
}

:root[data-theme='dark'] .freezeUnfreezeButtonsContainer button:disabled {
  color: var(--bs-gray-400) !important;
  border-color: var(--bs-gray-500) !important;
}

:root[data-theme='dark'] .freezeUnfreezeButtonsContainer button:hover {
  background-color: var(--bs-gray-900) !important;
  border-color: var(--bs-gray-900) !important;
}

@media only screen and (min-width: 768px) {
  .overlayContainer .utxoListTitleBar .freezeUnfreezeButtonsContainer button {
    min-width: 8rem;
    font-size: 0.8rem;
  }
}
.overlayContainer .tabContainer .utxoListTitleBar .refreshButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
  border: none;
}

.overlayContainer .jarItem {
  color: var(--bs-body-color);
  margin-bottom: 1rem;
  box-shadow: 0px 1px 2px var(--bs-gray-400);
  border: none !important;
  border-radius: 0.5rem !important;
  background-color: var(--bs-gray-100);
}
.overlayContainer .jarItem:last-child {
  margin-bottom: 0;
}

:root[data-theme='dark']
  .overlayContainer
  .jarItem
  :global
  .card:not(.border-success):not(.border-danger):not(.border-warning):not(.border-primary):not(.border-info) {
  border-color: var(--bs-gray-700) !important;
}

:root[data-theme='dark'] .overlayContainer .jarItem {
  background-color: var(--bs-gray-800) !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.overlayContainer .jarItem > h2 > button {
  border-radius: 0.5rem !important;
  background-color: var(--bs-gray-100);
  box-shadow: none;
}

:root[data-theme='dark'] .overlayContainer .jarItem > h2 > button {
  background-color: var(--bs-accordion-bg);
}

.overlayContainer .jarItem :global .container-fluid {
  padding-left: 0;
}
