.utxoDetailModalBackdrop {
  z-index: 1300 !important;
}

.utxoDetailModal {
  z-index: 1400 !important;
}

.modalHeader {
  display: flex !important;
  justify-content: flex-start !important;
  background-color: transparent !important;
  padding: 1.25rem !important;
}

.modalTitle {
  width: 100%;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: var(--bs-body-color) !important;
}

.modalTitle > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle .cancelButton {
  padding: 0 0 0 1rem;
  color: var(--bs-body-color);
  background-color: transparent !important;
  border: none;
}

.overlayHeader {
  border-bottom: 1px solid var(--bs-body-bg);
  box-shadow: 0px 1px 5px var(--bs-gray-400);
  z-index: 1200;
}

@media only screen and (min-width: 768px) {
  .overlayHeader {
    min-height: 75px;
    max-height: 75px;
  }
}

:root[data-theme='dark'] .overlayHeader {
  box-shadow: 0px 1px 5px var(--bs-gray-900);
}

.overlayHeader button:hover {
  color: inherit;
}

.overlayHeader .accountStepperTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  gap: 0.2rem;
  color: var(--bs-gray-800);
}

:root[data-theme='dark'] .overlayHeader .accountStepperTitle {
  color: var(--bs-gray-400);
}

.overlayHeader .accountStepperButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--bs-gray-100);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1) !important;
  color: var(--bs-gray-600);
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.overlayHeader .accountStepperButton:focus {
  color: var(--bs-gray-600);
}

.overlayHeader .accountStepperButton:active {
  color: var(--bs-gray-600);
}

:root[data-theme='dark'] .overlayHeader .accountStepperButton {
  background-color: var(--bs-gray-600);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5) !important;
  color: var(--bs-body-color);
}

.overlayBody {
  background-color: var(--bs-gray-100);
  padding: 0;
}

:root[data-theme='dark'] .overlayBody {
  background-color: var(--bs-gray-800);
}

.overlayBody .tabContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: var(--bs-body-bg);
}

@media only screen and (min-width: 768px) {
  .overlayBody .tabContainer {
    padding: 2rem 3rem;
    border-radius: 0.5rem;
  }
}

.overlayBody .tabContainer > .utxoListTitleBar {
  min-height: 3.6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0 0 0.8rem 0;
  background-color: var(--bs-gray-100);
}

@media only screen and (min-width: 768px) {
  .overlayBody .tabContainer > .utxoListTitleBar {
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
  }
}

@media only screen and (min-width: 768px) {
  .overlayBody .tabContainer > .utxoListTitleBar {
    flex-direction: row;
  }
}

:root[data-theme='dark'] .overlayBody .tabContainer > .utxoListTitleBar {
  background-color: var(--bs-gray-800);
}

.overlayBody .tabContainer > .utxoListTitleBar .freezeUnfreezeButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.overlayBody .tabContainer > .utxoListTitleBar .freezeUnfreezeButtonsContainer > button {
  width: 8rem;
  font-size: 0.6rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: white;
  border: 1px solid var(--bs-gray-200);
  color: var(--bs-body-color);
  border-radius: 0.35rem;
}

.overlayBody .tabContainer > .utxoListTitleBar .freezeUnfreezeButtonsContainer > button:hover {
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

@media only screen and (min-width: 768px) {
  .overlayBody .tabContainer > .utxoListTitleBar .freezeUnfreezeButtonsContainer > button {
    width: 10rem;
    font-size: 0.8rem;
  }
}

:root[data-theme='dark'] .overlayBody .tabContainer > .utxoListTitleBar .freezeUnfreezeButtonsContainer > button {
  background-color: var(--bs-gray-600) !important;
  border-color: var(--bs-gray-600);
}

:root[data-theme='dark'] .overlayBody .tabContainer > .utxoListTitleBar .freezeUnfreezeButtonsContainer > button:hover {
  background-color: var(--bs-gray-700) !important;
  border-color: var(--bs-gray-700);
}

.overlayBody .tabContainer > .utxoListTitleBar .refreshButton {
  width: 2rem;
  padding: 0.1rem;
  border: none;
}

.overlayBody .accountItem {
  color: var(--bs-body-color);
  margin-bottom: 1rem;
  box-shadow: 0px 1px 2px var(--bs-gray-400);
  border: none;
  border-radius: 0.5rem !important;
  background-color: var(--bs-gray-100);
}
.overlayBody .accountItem:last-child {
  margin-bottom: 0;
}

:root[data-theme='dark']
  .overlayBody
  .accountItem
  :global
  .card:not(.border-success):not(.border-danger):not(.border-warning):not(.border-primary):not(.border-info) {
  border-color: var(--bs-gray-700) !important;
}

:root[data-theme='dark'] .overlayBody .accountItem {
  background-color: var(--bs-gray-800) !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.overlayBody .accountItem > h2 > button {
  border-radius: 0.5rem !important;
  background-color: var(--bs-gray-100);
  box-shadow: none;
}

.overlayBody .accountItem :global .container-fluid {
  padding-left: 0;
}
