.utxoList > table {
  margin-bottom: 0;
  color: var(--bg-body-color);
}

.utxoList .headerCoinsIcon {
  margin-bottom: 1px;
}

.utxoList tr.frozen td {
  --bs-code-color: var(--bs-blue);
  color: var(--bs-blue);
  background-color: rgba(13, 110, 253, 0.07);
}

.utxoList tr .quickFreezeUnfreezeBtn {
  display: none;
  text-decoration: none;
}

.utxoList tr:not(.fidelityBond):hover .quickFreezeUnfreezeBtn {
  display: block;
}

.utxoList tr .quickFreezeUnfreezeBtn {
  color: var(--bs-blue);
}
.utxoList tr.frozen .quickFreezeUnfreezeBtn {
  color: var(--bs-red);
}
.utxoList tr.frozen :global .balance-hook .frozen-symbol-hook {
  display: none !important;
}

.utxoList .utxoListButtonDetails {
  font-size: 0.9rem;
}

.utxoList .utxoListButtonDetails:hover {
  color: var(--bg-body-color) !important;
}

.utxoList .utxoListButtonDetails:focus {
  color: var(--bg-body-color) !important;
}

.utxoList .utxoListButtonDetails:active {
  color: var(--bg-body-color) !important;
}

.utxoList :global tr.row-select-selected > td {
  background-color: var(--bs-gray-100);
}

:root[data-theme='dark'] .utxoList :global tr.row-select-selected > td {
  background-color: var(--bs-gray-800);
}

.utxoList tr.fidelityBond td {
  --bs-code-color: var(--bs-gray-600);
  background-color: var(--bs-gray-200);
  color: var(--bs-gray-600);
}

:root[data-theme='dark'] .utxoList tr.fidelityBond td {
  --bs-code-color: var(--bs-gray-900);
  background-color: var(--bs-gray-700);
  color: var(--bs-gray-900);
}
