# To test the reverse proxy setup, run the dev server using:
#
# PUBLIC_URL=/joinmarket npm start
#
# And visit http://localhost:8000/joinmarket/extrapath/
# Note: Keep the trailing slash!

server {
    listen 80;

    location /joinmarket/extrapath {
        proxy_pass http://host.docker.internal:3000/joinmarket;
    }

    location /joinmarket {
        proxy_pass http://host.docker.internal:3000/joinmarket;
    }
}
