name: Build

on:
  # Run the build for pushes and pull requests targeting master
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['16.16.0']

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # Setup Node
      - name: Setup (Node.js ${{ matrix.node-version }})
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      # Install
      - name: Install
        run: npm ci
      # Checks
      - name: Lint
        run: npm run lint -- --version && npm run lint -- --loglevel debug
      # Test
      - name: Test
        run: npm test
      # Build
      - name: Build
        run: npm run build
